<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">项目</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">简历</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/life/">生活</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://www.zcool.com.cn/u/{{site.zcool}}" class="social-links"><i class="social-icons fa fa-link" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="Mailto:{{site.email}}" class="social-links"><i class="social-icons fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
